.chat-message{
    display: flex;
    align-items: center;
    justify-content: center;
    
    
    .chat-menu{
       
       height: 500px;
       width: 250px;
       margin-right: 20px;
       border-radius: 20px;
       overflow-y: scroll ;
       box-shadow: 2px 2px 5px rgba(0,0,0,0.3),
       2px 2px 5px rgba(0,0,0,0.3); 
       mat-selection-list{
       
            mat-list-option{
                
                margin-bottom: 3%;
                height: 55px;
                .friends{
                    align-items: center;
                    display: flex;
                    position: relative;
                    justify-content: center;
                    img{
                       border-radius: 30px ;
                    }
                    li{
                        font-size: 700;
                    }
                }
               
           }
       }
       
       .search-wrapper{
            position: relative;
      
            height: 10%;
            width: 100%;
            text-align: center;
            justify-content: center;
            margin-bottom: 3%;
            background-color: var(--orange-color);
            
            input{
                position: relative;
                top: 15%;
                width: 80%;
                height: 70%;
                border: none;
                border-radius: 15px;
                padding: .9rem;
                border: none;
                outline: none;
            }

       }
    }
    .chat-box{
        height: 500px;
        width: 500px;
        background-color: #f1f5f9;
        border-radius: 20px;
        box-shadow: 2px 2px 5px rgba(0,0,0,0.3),
        2px 2px 5px rgba(0,0,0,0.3);
        
        .chat-box-header{
            background-color: var(--main-color);
            height: 10%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            border-radius: 20px 20px 0 0;
            position: static;
            img{
                border-radius: 50%;
                margin-left: 5%;
           
            }
            ul{
                position: relative;
                margin-top: 2%;
            }
        }
        .chat-box-message{
         
            height: 80%;
            width: 100%;
            position: relative;
        
           
           
           
        }
         .action{
            display: flex;
            top: 120px;
            text-align: center;
            width: 100%;
            height: 10.3%;
            border-radius: 0px 0px 20px 20px;
            background-color: var(--main-color);
            align-items: center;
            justify-content: space-around;
            input{
                position: relative;
                width: 75%;
                height: 70%;
                border: none;
                border-radius: 20px; 
                padding: 1.2rem;
                border: none;
                outline: none;
            } 
            mat-icon{
            
            }
        }
    }
}