<form action="">
    <h1 mat-dialog-title>Update Product</h1>
<div mat-dialog-content>
    <div class="input-group mb-3">
        <span class="input-group-text">Name</span>
        <input type="text" class="form-control" placeholder="Product Name">
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text">$</span>
        <input type="number" class="form-control" aria-label="Amount (to the nearest dollar)" placeholder="Product Price">
    </div>
    <div class="input-group mb-3">
        <input type="file" class="form-control" id="inputGroupFile01">
    </div>
</div>
<mat-dialog-actions>
    <button mat-raised-button color="warn" mat-dialog-close>Cancel</button>
    <button mat-raised-button color="primary" [mat-dialog-close]="true">Update</button>
</mat-dialog-actions>


</form>



