<form (ngSubmit)="onSubmit()">
    <h1 mat-dialog-title>Update Product</h1>
<div mat-dialog-content>
    <div class="input-group mb-3">
        <span class="input-group-text">Name</span>
        <input type="text" class="form-control" [(ngModel)]="data.product_name" name="product_name"
        placeholder="Product Name" [value]="data.product_name">
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text">$</span>
        <input type="number" class="form-control" 
        [(ngModel)]="data.product_prix" name="product_prix"
        aria-label="Amount (to the nearest dollar)" placeholder="Product Price"
        [value]="data.product_prix">
    </div>
    <div class="input-group mb-3">
        <input type="file" class="form-control" 
        [(ngModel)]="data.product_image" name="product_image"
        id="inputGroupFile01">
    </div>
</div>
<mat-dialog-actions>
    <button mat-raised-button color="warn" mat-dialog-close>Cancel</button>
    <button mat-raised-button color="primary" [mat-dialog-close]="true" type="submit">Update</button>
</mat-dialog-actions>


</form>



