<form  (ngSubmit)="onSubmit()">
    <h1 mat-dialog-title class="text-center">Add Activite</h1>
<div mat-dialog-content>

    <mat-form-field  appearance="outline">
        <mat-label >  Name  </mat-label>
        <input matInput [(ngModel)]="activity.designation" name="designation">
    </mat-form-field>

    <mat-form-field  appearance="outline">
        <mat-label >  Address  </mat-label>
        <input matInput [(ngModel)]="activity.lieu" name="activity.lieu">
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label> Date</mat-label>
        <input matInput [matDatepicker]="picker" format="dd-MM-yy" [(ngModel)]="activity.date" name="date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field  appearance="outline">
        <mat-label >  Responsable  </mat-label>
        <input matInput [(ngModel)]="activity.responsable" name="responsable">
    </mat-form-field>

    <mat-form-field  appearance="outline">
        <mat-label >  ID_Relation  </mat-label>
        <input matInput [(ngModel)]="activity.ID_Relation" name="activity.ID_Relation">
    </mat-form-field>

    <mat-form-field  appearance="outline">
        <mat-label >  visa_direction  </mat-label>
        <input matInput [(ngModel)]="activity.visa_direction" name="activity.visa_direction">
    </mat-form-field>

    

   
    
   <!--  <div class="input-group mb-3">
        <input type="file" class="form-control"   id="inputGroupFile01">
    </div> -->
</div>
<mat-dialog-actions >
    <button mat-raised-button color="warn" mat-dialog-close>Cancel</button>
    <button mat-raised-button color="primary" [mat-dialog-close]="true"  type="submit">Add</button>
</mat-dialog-actions>


</form>



