.addbtn{
    position: absolute;
    right: 20px;
    top: 90px;
   
}
table {
    width: 100%;
    margin-top: 100px;
    margin-right: 20px;
    td, th {
        width: 7%;
      }
    button{
        margin-left: 20px;
    }  
  }
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }