
    <form  (ngSubmit)="onSubmit()">
        <h1 mat-dialog-title>Update Activity</h1>
      <div mat-dialog-content>
      
        <div class="input-group mb-3">
            <span class="input-group-text">designation</span>  
            <input type="text" class="form-control"     
            [(ngModel)]="data.designation" name="designation" 
            placeholder="data Name" 
            [value]="data.designation">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text">Lieu </span>
            <input type="text" class="form-control"
             aria-label="Amount (to the nearest dollar)" 
             [(ngModel)]="data.lieu" name="lieu"
              placeholder="Product Price"
              [value]="data.lieu">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text">Date</span>
            <input type="text" class="form-control" 
            [(ngModel)]="data.date" name="date"
             placeholder="Precident"
             [value]="data.date">
        </div>
      
        <div class="input-group mb-3">
            <span class="input-group-text">Responsable</span>
            <input type="text" class="form-control"
             [(ngModel)]="data.responsable" name="responsable"
              placeholder="Product image"
              [value]="data.responsable">
        </div>
      
        <div class="input-group mb-3">
            <span class="input-group-text">ID_Relation</span>
            <input type="text" class="form-control" 
            [(ngModel)]="data.ID_Relation" name="ID_Relation"
             placeholder="Product image"
             [value]="data.ID_Relation">
        </div>
      
        <div class="input-group mb-3">
            <span class="input-group-text">visa_direction</span>
            <input type="text" class="form-control"
             [(ngModel)]="data.visa_direction" name="visa_direction"
              placeholder="Product image"
              [value]="data.visa_direction">
        </div>
      
        
      
       
       <!--  <div class="input-group mb-3">
            <input type="file" class="form-control"   id="inputGroupFile01">
        </div> -->
      </div>
      <mat-dialog-actions>
        <button mat-raised-button color="warn" mat-dialog-close>Cancel</button>
        <button mat-raised-button color="primary" [mat-dialog-close]="true"  type="submit">Update</button>
      </mat-dialog-actions>
      
      
      </form>
      
      
      