<form  (ngSubmit)="onSubmit()">
    <h1 mat-dialog-title>Add to galery</h1>
<div mat-dialog-content>

      

    <mat-form-field  appearance="outline">
        <mat-label >  Description  </mat-label>
        <input matInput [(ngModel)]="galary.description" name="description">
    </mat-form-field>

    
   <!--  <div class="input-group mb-3">
        <span class="input-group-text"> Path </span>
        <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" [(ngModel)]="galary.path" name="path" placeholder="path">
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text"> type </span>
        <input type="text" class="form-control" [(ngModel)]="galary.type" name="type" placeholder="type">
    </div> -->


    <div class="input-group mb-3">
        <input type="file" class="form-control"   id="inputGroupFile01" (change)="OnSelectedFile($event)">
    </div> 

   

   <!--  <div class="input-group mb-3">
        <span class="input-group-text"> categorie </span>
        <input type="text" class="form-control" [(ngModel)]="galary.categorie" name="categorie" placeholder="Categorie">
    </div> -->
  
</div>
<mat-dialog-actions>
    <button mat-raised-button color="warn" mat-dialog-close>Cancel</button>
    <button mat-raised-button color="primary" [mat-dialog-close]="true"  type="submit">Add</button>
</mat-dialog-actions>


</form>



